@import url('https://fonts.googleapis.com/css?family=Oswald|Lato|Germania+One:400,500, 600, 700');

$font-stack-1: 'Lato', sans-serif;
$font-stack-2: 'Oswald', sans-serif;
$font-stack-3: 'Germania One', cursive;
$clr-yellow: #EFEEDE;
$clr-black: #141414;
$clr-grey: #B3B3B3;
$clr-link: #315890;
$clr-white: #fff;
$clr-pink: #FF5EBD;
$crl-link: #50CBC1;
$bg-color: #FCF7EA;


* { box-sizing: border-box;}

%text-shared {
    font-size: 20px;
    color: $clr-black;
    font-family: $font-stack-1;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.58px;
}

body {
    @extend %text-shared;
    background-color: $bg-color;
}

a, a:hover {
    @extend %text-shared;
    letter-spacing: -0.42px;
    color: $clr-pink;
}

.bg-header {
    background-image: url(img/banner.png);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 457px;
    height: auto;
}

.bg-books {
    background-image: url(img/bg-books.png);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}


.bg-footer {
    background-image: url(img/footer.png);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 155px;
    height: auto;
}

.bg-characters {
    background-image: url('img/characters-bg.png');
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 925px;
    height: auto;
}

.bg-characters-sm {
    background-image: url('img/bg-characters-sm.png');
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 295px;
    height: auto;
}

%text-shared-1 {
    font-size: 31px;
    color: $clr-black;
    font-family: $font-stack-2;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.11px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    @extend %text-shared-1;
    font-size: 38px;
    letter-spacing: -0.79px;
    font-weight: 500;
    text-shadow: 0 2px 5px #000000;
    line-height: 51px;
    text-align: center;
    color: $clr-yellow;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link:hover {color: $crl-link;}

.text-title-1 {@extend %text-shared-1;}
.text-title-2 {@extend %text-shared-1; color: $clr-pink; line-height: 37px; }
.text-title-3 {@extend %text-shared-1; color: $clr-grey; }
.text-title-4 {
    @extend %text-shared-1;
    font-size: 36px;
    letter-spacing: normal;
    line-height: 59px;
    font-weight: 500;
    color: $clr-black;
}
.text-title-5 {
    @extend %text-shared-1;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.65px}

.text-title-6 {
    font-size: 24px;
    color: $clr-black;
    font-family: $font-stack-1;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.text-title-7 {
    @extend %text-shared-1;
    font-size: 36px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: -0.75px;
}

.text-title-bold {
    font-size: 28px;
    color: $clr-black;
    font-family: $font-stack-1;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: -0.1px;
}

.text-link {
    font-size: 28px;
    color: $clr-pink;
    font-family: $font-stack-1;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.58px;
    text-transform: uppercase;
}

.text-subscribe {
    font-size: 25px;
    color: $clr-black;
    font-family: $font-stack-1;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.58px;
}

.text-footer {
    @extend %text-shared;
    color: $clr-yellow;
    letter-spacing: -0.42px;
}

.text-quote {
    @extend %text-shared;
    color: $crl-link;
    font-weight: 700;
}

.text-quote-1 {
    @extend %text-shared;
    color: $crl-link;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.46px;
    line-height: 28px;
}

.text-characters {
    @extend %text-shared;
    font-size: 22px;
    letter-spacing: -0.64px;
    line-height: 28px;
}

%text-characters{
    font-family: $font-stack-2;
    font-size: 28px;
    letter-spacing: -0.58px;
    line-height: 33px;  
}
.text-characters-title {
    @extend %text-characters;
    text-transform: uppercase;
}

%text-shared-2 {
    font-size: 28px;
    color: $clr-black;
    font-family: $font-stack-3;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.58px;
    text-transform: uppercase;
}
.text-snippets-title, .text-book-title {
    @extend %text-shared-2;
}

.text-clr-pink { @extend %text-shared-2; color: $clr-pink;}
.text-clr-grey { @extend %text-shared-2; color: $clr-grey;}

%text-btn-share {
    font-family: $font-stack-2;
    font-weight: 500;
    font-size: 28px;
    height: 60px;
    line-height: 47px;
    letter-spacing: -0.58px;
    white-space: pre-wrap;
    color: $clr-white;
    background-color: $clr-pink;
    border-color: $clr-pink!important;
    align-items: center;
    border-radius: 0px;
    text-transform: uppercase;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:visited,
.btn.btn-primary:focus {
    @extend %text-btn-share;
}

.form-control{
    border-radius: 0rem;
    border: none;
    height: 82px;
    text-transform: uppercase;
    font-size: 38px;
    color: $clr-black;
    letter-spacing: -0.58px;
    font-family: $font-stack-2;
}
.c-button, .c-button:hover {
    @extend %text-btn-share;
    height: 82px;
    line-height: 70px;
    white-space: pre-wrap;
}

.c-toggler.navbar-toggler {
    border-color: rgb(80,203,193);
}
.c-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(80,203,193, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-pills .nav-link {
    @extend %text-characters;
    color: $clr-black;
}
.nav-pills .nav-link.active {
    background-color: transparent;
    @extend %text-characters;
    color: $crl-link;
}

footer a:hover{text-decoration: none;}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $clr-grey!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $clr-grey!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $clr-grey!important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $clr-grey!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: $clr-grey!important;
}

::placeholder { /* Most modern browsers support this now. */
    color: $clr-grey;
}

.c-margin { margin-top: 150px;}
.c-margin-1 {margin-top: -7px;}
.c-margin-2 {margin-left: 50px; margin-right: 43px;}
.c-margin-3 {margin-top: 40px;}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
}

.page-numbers, .page-numbers:hover {
    font-family: $font-stack-3;
    font-size: 28px;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
    .c-margin { margin-top: 100px;}
    .c-margin-2 {margin-left: 50px; margin-right: 10px;}
    .c-margin-3 {margin-top: 0px;}
}

@media (max-width: 991px) {
    .c-margin { margin-top: 180px;}
    .c-txt-ctr {text-align: center!important;}
    .pr-5 {padding-right: 0rem!important;}
    .c-margin-2 {margin-left: 70px; margin-right: 10px;}
    .c-margin-2:first-child {margin-left: 0px;}
    .nav-pills .nav-link {padding-left: 0rem!important;}

}

@media(max-width:767px){
    .c-margin-2 {margin-left: 30px; margin-right: 0px;}
}

@media(max-width:575px) {
    .c-margin-2 {margin-left: 0px;}
    .c-text, .c-text:hover { font-size: 22px;}
}
